GET requests by @cubejs-client/core shouldn't send a Content-Type header

**Describe the bug**

The API calls by the Cubejs client core library such as `load`, `meta` are sent as HTTP GET requests with no request body payload. The default `HttpTransport` implementation adds a `Content-Type: application/json` header to every single request, including GET requests. But it shouldn't, because in HTTP requests, the Content-Type header indicates the encoding of the **request body**. 

Because of this, we are running into validation issues when we route Cube.js API calls through our OpenAPI 3.0 API server. 

Frankly, it is difficult to find a single IETF RFC document that states exactly this, but [RFC 7231 Section 3.1.1.5](https://tools.ietf.org/html/rfc7231#section-3.1.1.5) might be the closest thing:

>  A sender that generates a message containing a payload body SHOULD
   generate a Content-Type header field in that message unless the
   intended media type of the enclosed representation is unknown to the
   sender. 

This seems to have been introduced in commit https://github.com/cube-js/cube.js/commit/880f65e4619bf71b2a175c14b37f38d63863d129#diff-3ada135c604302a557043b60dfb65e8dR24 .

**Expected behavior**
The client should not send any Content-Type header if it's a GET request. 

**Version:**
v0.19.23


@oguzbilgener Hey Oğuz! Thanks for posting this one! I believe it sits there from inception and I'm not sure why do we put it there. I believe we should be safe to remove it.

Thanks for confirming! I should be able to come up with a PR soon :)